@import '../../assets/styles/_variables.scss';

#Main {

  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  
  .places-container {
    display: flex;
    flex-direction: row;
    padding: 0.15rem;
    flex-wrap: wrap;
    justify-content: space-between;

    .places-item {
      margin: 1rem 0;
      flex: 0 0 100%;
      
      @include small {
        flex: 0 0 50%;
      }

      @include medium {
        flex: 0 0 33.3333%;
      }

      @include large {
        flex: 0 0 25%;
      }
    }
  }
}