@import '../../assets/styles/_variables.scss';

header {
	position: sticky;
	top: 0;
	background: $color-primary;
	border-bottom: 1px solid darken($color-primary, 20%);
	z-index: 400;

	.header-container {
		display: flex;
		padding: 0.3rem 0.8rem;
		width: 100%;
		max-width: 85.375rem;
		margin: 0 auto;
    align-items: center;
    justify-content: center;

		@include small {
			padding: 1rem 0.8rem;
		}

		form {
			color: white;

			> * {
				display: inline-block;
			}

			> span {
				margin: 0 .5rem;
			}

			input {
				font-size: 1rem;
				padding: .5rem;
				border-radius: .25rem;

				&[type="submit"] {
					background: black;
					color: white;
					margin-left: .5rem;
					border: 1px solid #000;
				}
			}
			
			label {
				div {
					font-size: .8rem;
					display: block;
					margin-bottom: .2rem;
					font-weight: bold;
				}

				input {
					&[type="text"] {	
						background: rgba(255, 255, 255, .33);
						transition: ease .2s;
						border: 1px solid rgba(0, 0, 0, 0);
						min-width: 12.5rem;
						color: #fff;

						&::placeholder {
							color: rgba(255, 255, 255, .33);
						}

						
						&:focus {
							background: white;
							border: 1px solid #999;
							color: #000;
							
							&::placeholder {
								color: #999;
							}
						}
					}
				}
			}
		}
	}
}