//for all files | TODO: make it available for multiple

@import url("https://use.typekit.net/ret0qqx.css");

//Variables
$color-primary: #DA3743;

$color-success: #4caf50;
$color-failed: #F44336;

//Media queries
$x-small: 320px;
$small: 480px;
$medium: 640px;
$large: 768px;
$x-large: 1024px;
$xx-large: 1200px;

$font-primary: 'aktiv-grotesk', Nimbus Sans, 'nimbus-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-secondary: $font-primary;


@mixin x-small {
  @media (min-width: #{$x-small}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$small}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large}) {
    @content;
  }
}

@mixin x-large {
  @media (min-width: #{$x-large}) {
    @content;
  }
}

@mixin xx-large {
  @media (min-width: #{$xx-large}) {
    @content;
  }
}